body
{
    background-color: #14b4b4
}

.logojunniors{
	margin-top: 70px;
	margin-right: 1px;
	width: 180px;
	height: 180px;
	float: right;

}

.display-4
{
	margin-top: 70px;
	font-size: 50px;
	font-family: sans-serif;
	color: black;
	float: center;
}

.justificar{
	text-align: justify;
	margin-left:10px;
	margin-right:10px;
	font-size: 30px;
	font-family: inherit;
}

.container 
{
	width: 980px;
	height: 280px;
}

footer{
    width: 100%;
    background: #202020;
    color: white;

}

.container-footer-all{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}

.container-footer{
    width: 100%;
    background: #101010;
}

.footer{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.copyright{
    color: #C7C7C7;
}

.copyright a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}