header{
	border-bottom: 1px solid #cecece;
}

.blog-logo{
font-family: Impact,sans-serif;
font-size: 2.5rem;|
/* 1 em = M; */
}

#titulo{

	font-size: 50px;

}
#inicio{
	font-size: 35px;
}
#spin{
	font-size: 35px;
}
#conocenos{
	font-size: 35px;
}
#area{
		font-size: 35px;
}

#mma{
		font-size: 35px;
}

footer{
    width: 100%;
    background: #202020;
    color: white;

}

.container-footer-all{
    width: 100%;
    max-width: 1200px;
		max-height: 500px;
    margin: auto;
    padding: 30px;
}

.container-body{
    display: flex;
    justify-content: space-between;
}

.texto-negritas{
	font-weight: 900;
}

.colum1{
    max-width: 400px;
}

.colum1 h1{
    font-size: 22px;
}

.colum1 p{
    font-size: 14px;
    color: #C7C7C7;
    margin-top: 20px;
}

.colum2{
    max-width: 400px;

}

.colum2 h1{
    font-size: 22px;
}

.parrafos-carusel p{
	font-size: 30px;
}

div#info {
	font-size: 40px;
}
.row{
    margin-top: 20px;
    display: flex;
}

.row img{
    width: 36px;
    height: 36px;
}

.row label{
    margin-top: 10px;
    margin-left: 20px;
    color: #C7C7C7;
}

.colum3{
    max-width: 400px;
}

.colum3 h1{
    font-size: 22px;
}

.row2{
    margin-top: 20px;
    display: flex;
}

.row2 img{
    width: 36px;
    height: 36px;
}

.row2 label{
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
}

.container-footer{
    width: 100%;
    background: #101010;
}

.footer{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.copyright{
    color: #C7C7C7;
}

.copyright a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.information a{
    text-decoration: none;
    color: #C7C7C7;
}


@media screen and (max-width: 1100px){

    .container-body{
        flex-wrap: wrap;
    }

    .colum1{
        max-width: 100%;
    }

    .colum2,
    .colum3{
        margin-top: 40px;
    }
}

.centrar-horario{
	text-align: center;
}

body
{
    background-color: #14b4b4;
}

.color-fondo{
background-color: rgba(0, 0, 0, 0.5);
}

.fondo-transparente{
  font-size: 30px;
	background-color: rgba(255, 255,255, 0.3);
}

.fondo-transparente h5{
	font-size:35px;
}

.boton_personalizado{
    text-decoration: none;
    padding: 5px;
    font-size: 15px;
    font-family: "calibri light"
    font-weight: 100;
    background-color: #FDFEFE;
    border-radius: 1px;
    border: 0px solid #808B96;
  }

.boton_personalizado:hover{
   background-color: #2ECC71;
   color: #FDFEFE;
   box-shadow: inset 0 0 0 0px #17202A;
  }

 .boton_personalizado2{
    text-decoration: none;
    padding: 5px;
    font-size: 15px;
    font-family: "calibri light"
    font-weight: 100;
    background-color: #FDFEFE;
    border-radius: 1px;
    border: 0px solid #808B96;
  }

.boton_personalizado2:hover{
   background-color: #E74C3C;
   color: #FDFEFE;
   box-shadow: inset 0 0 0 0px #17202A;
  }

	.box {
   border-radius: 5px;
   outline: none;
   border: 5px solid #FDFEFE;

 }

 .body{
  margin:auto;
  background-color: white;
  font-size: 20px;
  font-family: "calibri light";

 }
 .body:hover{

background-color: #14b4b4;

 }

 .texto{

opacity:1;
 font-family: "calibri light"
     -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
  margin:auto;
  background-color: white;
  font-size: 100px;
  font-family: "calibri light"

}

.texto:hover{
	  background-color: #14b4b4;
}

.imagen{
 text-align: center;
 width: 200px;
 }

.imagen:hover{
	-webkit-animation: swing 1s ease;
         animation: swing 1s ease;
         -webkit-animation-iteration-count: 1;
         animation-iteration-count: 1;

			
}

.head{
 margin:auto;
 background-color: black;

}
.head:hover{

 margin:auto;
 background-color:#14b4b4;


}
